# Logs
server/logs
client/logs
server/*.log
client/*.log
server/pnpm-debug.log*
client/pnpm-debug.log*

server/node_modules
client/node_modules
server/dist
client/dist
server/dist-ssr
client/dist-ssr
server/*.local
client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
server/.idea
client/.idea
server/.DS_Store
client/.DS_Store
server/*.suo
client/*.suo
server/*.ntvs*
client/*.ntvs*
server/*.njsproj
client/*.njsproj
server/*.sln
client/*.sln
server/*.sw?
client/*.sw?

# Env
server/.env
client/.env
